<div class="bd">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/profile">PROFILE</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/products">PRODUCTS</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <div class="wrapper">
        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
            </svg>
            Total cart amount: $ <span id="totalAmount">0</span>
        </h1>
        <button class="btn" id="finishPurchaseBtn">Finalizar compra</button>
    </div>
   <div class="big-box">
    {{#if cartProducts}}
        {{#each cartProducts}}
            <div class="wrapper">
                <div>
                    <h1>{{product.title}}</h1>
                    <img class="img-cuadrada" src="{{product.thumbnail}}" alt="Img not found">
                    <h2>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
                            <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
                            <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
                            <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
                        </svg>
                        $ {{product.price}}
                    </h2>
                    <div>
                        <h5>
                            Quantity
                            <button class="btn2" onclick="deleteOne('{{product._id}}', {{quantity}},'{{../cid}}')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-dash-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1"/>
                                </svg>
                            </button>
                            {{quantity}}
                            <button class="btn2" onclick="addToCart('{{product._id}}','{{../cid}}')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                </svg>
                            </button>
                        </h5>
                    </div>

                    <button class="btn deleteProductButton" data-cartid="{{../cid}}" data-productid="{{product._id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                        Delete product
                    </button>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div>
            <img class="no-products" src="/images/noproducts.jpg" alt="No products available">
        </div>
    {{/if}}
</div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const finishPurchaseBtn = document.getElementById('finishPurchaseBtn')

        finishPurchaseBtn.addEventListener('click', function() {
            window.location.href = '/sendTicket'
        });
    });

    document.addEventListener('DOMContentLoaded', async function() {
        const cartId = '{{cid}}' 
        const total = await fetchCartTotal(cartId)
        if (total !== null) {
            document.getElementById('totalAmount').textContent = total.toFixed(2) // Formato a 2 decimales
        }
    });

    async function fetchCartTotal(cartId) {
        const url = `/api/carts/${cartId}/total`
        try {
            const response = await fetch(url)
            if (response.ok) {
                const data = await response.json()
                const total = data.total
                return total
            } else {
                throw new Error('Error al obtener el precio total')
            }
        } catch (error) {
            console.error('Error:', error)
            alert('Error al obtener el precio total')
            return null
        }
    }

    async function addToCart(pid,cid,price) {
        const url = `/api/carts/${cid}/product/${pid}`
        try {
            const response = await fetch(url, {
                method: 'POST'
            })

            if (response.ok) {
                location.reload()
            } else {
                throw new Error('Error ')
            }
        } catch (error) {
            console.error('Error:', error)
            alert('Error to add product')
        }
    }

    async function deleteOne(pid, quant,cid,price) {
        const url = `/api/carts/${cid}/product/${pid}`;
        const data = { quantity: parseInt(quant)-1 }

        if (!/^[0-9a-fA-F]{24}$/.test(pid)) {
            console.error('Invalid product ID:', pid);
            alert('Invalid product ID');
            return;
        }

        try {
            const response = await fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                location.reload()
            } else {
                throw new Error('Error al eliminar el producto');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Error al eliminar el producto');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        document.body.addEventListener('click', function(event) {
            if (event.target.closest('.deleteProductButton')) {
                var deleteButton = event.target.closest('.deleteProductButton')
                var cartId = deleteButton.getAttribute('data-cartid')
                var productId = deleteButton.getAttribute('data-productid')

                console.log('cartId:', cartId) 
                console.log('productId:', productId)

                if (confirm('Are you sure you want to remove this product from your cart?')) {
                    fetch(`/api/carts/${cartId}/product/${productId}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (response.ok) {
                            location.reload()
                        } else {
                            console.error('Error al eliminar el producto:', response.statusText)
                            alert('Error al eliminar el producto')
                        }
                    })
                    .catch(error => {
                        console.error('Error al eliminar el producto:', error)
                        alert('Error al eliminar el producto')
                    })
                }
            }
        })
    })
</script>


<style>
    .bd{
        display:grid;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: url("/images/carritowebp.jpg");
        background-size: cover;
        background-position: center;
        color: white; 
    }

    .wrapper{
        display:grid;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 2px solid rgba(255,255,255, .2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        border-radius: 10px;
        padding: 15px;
        margin-left: 15px;
    }

    .wrapper h1{
        font-size: 26px;
        text-align: center;
    }
    .wrapper h2 {
        font-size: 20px;
    }
    .wrapper .img-cuadrada {
        border: 2px solid rgba(255, 255, 255, .2);
        width: 250px;
        height: 250px;
        object-fit: cover;
        backdrop-filter: blur(20px);
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .wrapper .btn {
        width: 100%;
        background: #fff;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        text-align: center;
        display: block;
        padding: 10px;
        text-decoration: none;
        margin-top: 15px;
    }
 
    .wrapper .btn2{
        height: 25px;
        width: 25px;
        padding: 0.000001px;
        background-color: transparent;
        border: none;
        color: #000; 
        cursor: pointer; 
    }

    .big-box{
        display: flex;
        justify-content: space-between;
    }    

    .styled-img {
        width: 500px;            /* Establece el ancho de la imagen */
        height: 500px;           /* Establece la altura de la imagen */
        border-radius: 15px;     /* Bordes redondeados */
        border: 2px solid #ddd;  /* Un marco sutil */
        display: block;          /* Para centrar la imagen */
        margin: 0 auto;         /* Centrando horizontalmente */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    }

    .no-products {
        width: 500px;            /* Ancho de la imagen sin productos */
        height: 500px;           /* Altura de la imagen sin productos */
        display: block;          /* Para centrar la imagen */
        margin: 20px auto;      /* Centrado y espacio arriba/abajo */
    }
</style>