<div class="main-container">
    <div class="container">
        <h1>ADMIN USER</h1>
        <h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
            </svg>
            The admin user can edit and delete any user.
        </h5>
        <br> 
        <a href="http://localhost:8080/users/panelAdmin" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wrench-adjustable-circle" viewBox="0 0 16 16">
            <path d="M12.496 8a4.5 4.5 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11q.04.3.04.61"/>
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-1 0a7 7 0 1 0-13.202 3.249l1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.5 4.5 0 0 1-1.592-.29L4.747 14.2A7 7 0 0 0 15 8m-8.295.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27z"/>
        </svg>
        ADMIN PANEL
        </a>
    </div>
    
    {{#each users}}
        <div class="user-container">
            <div class="user-info">
                <h2>{{this.first_name}} {{this.last_name}}</h2>
                <p>Email: {{this.email}}</p>
                <p>Role: {{this.role}}</p>
                <p>Status: {{#if this.premium}}ES PREMIUM{{else}}NO ES PREMIUM{{/if}}</p>
            </div>
            <div class="user-buttons">
                <button class="button toggle" onclick="togglePremium('{{this._id}}', {{this.premium}})">
                    {{#if this.premium}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-ban" viewBox="0 0 16 16">
                        <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                    </svg>
                    Change to No Premium
                    {{else}}
                    Change to Premium
                    {{/if}}
                </button>
                <button class="button edit" onclick="confirmEdit('{{this._id}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                    </svg>
                </button>
                <button class="button delete" onclick="confirmDelete('{{this._id}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg>
                </button>
            </div>
                
        </div>
    {{/each}}
</div>

<script>
    function togglePremium(uid, currentStatus) {
        const newStatus = !currentStatus;

        const url = `http://localhost:8080/api/users/premium/${uid}`;

        // Realiza la actualización en el backend
        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ premium: newStatus }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                if (newStatus) {
                    alert(`El usuario ahora es PREMIUM.`);
                } else {
                    alert(`El usuario ha dejado de ser PREMIUM.`);
                }
                window.location.reload();
            } else {
                alert(`No se pudo cambiar el estado de premium ya que no posee la documentación completamente cargada`);
            }
        })
        .catch(error => {
            console.error('Error al cambiar el estado de premium:', error);
        });
    }

    async function confirmEdit(pid) {
        alert('Todavia no es posible editar');
        window.location.reload(); 
    }

    async function confirmDelete(pid) {
        alert('Todavia no es posible editar');
        window.location.reload(); 
    }
</script>

<style>
    
    .container {
            text-align: center;
            padding: 90px;
        }

    .main-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
    }

    .main-container h1 {
        text-align: center;
        color: #333;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .user-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        padding: 15px;
        transition: background-color 0.3s;
    }

    .user-container:hover {
        background-color: #f1f1f1;
    }

    .user-info {
        flex: 1;
    }

    .user-info h2 {
        margin: 0;
        font-size: 1.5rem;
        color: #333;
    }

    .user-info p {
        margin: 5px 0;
        color: #666;
    }

    .user-buttons {
        display: flex;
        gap: 10px;
    }

    .button {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        font-size: 0.875rem;
        color: #fff;
        transition: background-color 0.3s, transform 0.2s;
    }

    .users-buttons {
        display: flex;
        gap: 10px;
    }

     .button.edit {
        background-color: #007bff;
    }

    .button.edit:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    .button.delete {
        background-color: #dc3545;
    }
    .button.toggle {
        background-color: #35dc3d;
    }

    .button.delete:hover {
        background-color: #c82333;
        transform: scale(1.05);
    }

</style>