<div class="main-container">
    <div class="container">
        <h1>ADMIN PRODUCTS</h1>
        <h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
            </svg>
            The admin user can edit and delete any type of product.
        </h5>
        <br>
        <a href="http://localhost:8080/users/createProduct" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
            <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5 5 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334"/>
        </svg>
        CREATE PRODUCTS
        </a>
        <a href="http://localhost:8080/users/panelAdmin" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wrench-adjustable-circle" viewBox="0 0 16 16">
            <path d="M12.496 8a4.5 4.5 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11q.04.3.04.61"/>
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-1 0a7 7 0 1 0-13.202 3.249l1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.5 4.5 0 0 1-1.592-.29L4.747 14.2A7 7 0 0 0 15 8m-8.295.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27z"/>
        </svg>
        ADMIN PANEL
        </a>
    </div>
    
    {{#each products}}
    <div class="product-container">
        <div class="product-info">
            <h2>{{this.title}}</h2>
            <p>Precio: ${{this.price}}</p> 
            <p>Código: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
            {{#if this.owner}}
                <p>Owner: {{this.owner}}</p>
            {{/if}}
        </div>
        <div class="product-buttons">
            <button class="button edit" onclick="confirmEdit('{{this._id}}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                </svg>
            </button>
            <button class="button delete" onclick="confirmDelete('{{this._id}}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                </svg>
            </button>
        </div>
    </div>
    {{/each}}
</div>

<script>
    async function confirmDelete(pid) {
        const isConfirmed = confirm('¿Estás seguro de que deseas eliminar este producto?');
        if (isConfirmed) {
            try {
                const url = `http://localhost:8080/api/products/${pid}`
                const response = await fetch(url, {
                    method: 'DELETE',
                });

                if (response.ok) {
                    alert('Producto eliminado correctamente');
                    window.location.reload(); 
                } else {
                    const errorData = await response.json();
                    alert(`Error: ${errorData.status}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Error al eliminar el producto');
            }
        }
    }

    async function confirmEdit(pid) {
        alert('Todavia no es posible editar');
        window.location.reload(); 
    }
</script>

<style>
    
    .container {
            text-align: center;
            padding: 90px;
        }

    .main-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
    }

    /* Estilo para el título */
    .main-container h1 {
        text-align: center;
        color: #333;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    /* Estilo para cada contenedor de producto */
    .product-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        padding: 15px;
        transition: background-color 0.3s;
    }

    /* Efecto de hover para el contenedor de producto */
    .product-container:hover {
        background-color: #f1f1f1;
    }

    /* Estilo para la información del producto */
    .product-info {
        flex: 1;
    }

    .product-info h2 {
        margin: 0;
        font-size: 1.5rem;
        color: #333;
    }

    .product-info p {
        margin: 5px 0;
        color: #666;
    }

    /* Estilo para los botones */
    .product-buttons {
        display: flex;
        gap: 10px;
    }

    .button {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        font-size: 0.875rem;
        color: #fff;
        transition: background-color 0.3s, transform 0.2s;
    }

    .button.edit {
        background-color: #007bff;
    }

    .button.edit:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    .button.delete {
        background-color: #dc3545;
    }

    .button.delete:hover {
        background-color: #c82333;
        transform: scale(1.05);
    }

</style>